.payment-info {
    margin-top: 100px;
    padding: 50px;
    background-color: #F7F5F6;

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        width: 100%;

        .payment-item {
            display: flex;
            flex-direction: column;
            width: 30%;
            gap: 20px;
            justify-content: center;
            svg {
                color: rgb(123, 181, 124);
            }
        }
    }
}